 *{
     margin: 0;
     padding:0;
     outline:0; 
     box-sizing: border-box;
 }

 ol, ul {
     list-style:none;
 }

input,
button {
    background: none;
    border: 0;
}

 a,
 a:active,
 a:visited {
     color:inherit;
     text-decoration: none;
 }

 address {
     font-style: normal;
 }