/* -- goole fonts : 'Handlee' cursive // 'Jost', sans-serif 200 300 400*/
/* Général */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    height: 100vh;
}

    main {
        flex: 1 1 auto;
    }
    header, footer {
        flex: 0 0 auto;
    }

h1, .h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    font-weight: 200;
}

h2, .h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

h3, .h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"] {
    outline: 1px solid #112233;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: #123;
    color: #fff;
    margin-top: 50px;
    padding: 50px 20px;
}

/* Réutilisable */

.user-msg {
    font-family: 'Handlee', cursive;
    padding: 20px;
}

.button {
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 5px 5px 0 black;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all .4s;
}

.button:active {
    box-shadow: 0 0 0 black;
    transform: translate(5px, 5px);
}

.container {
    margin: auto;
    width: 80%;
}

.error-msg {
    color: red;
    text-align: center;
    padding: 10px 0;
}

.success-msg {

}


/* Pages pour les utilisateurs non connectés

 ** Page d'inscription
 ** Page de connection
 */
    /** ----- Accueil ------ **/
.home {
    background-image: url("/assets/img/home.jpg");
    background-position: center center ;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

    .home-content {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        .home-title {
            font-family: 'Handlee', cursive;
            font-size: 85px;
            padding: 0 0 30px 0;
            text-align: center;
            text-shadow: 2px 2px 2px #fefefe;
        }

        .home-btn {
            display: flex;
            justify-content: space-between;
        }

            .home-btn a {
                background-color: #fff;
                border: solid 1px #fefefe;
                font-size: 15px;
                font-weight: 300;
                padding: 10px 30px;
                text-transform: uppercase;
                transition: all .4s;
            }
                .home-btn a:hover {
                    background-color: #fb8500;
                    border: solid 1px #fefefe;
                    color: #fefefe;
                }

/** ----- Formulaire d'inscription et de connection ------ **/

.home-form-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
    .form-title {
        font-family: 'Jost', cursive;
        font-size: 50px;
        font-weight: 300;
        padding: 20px 0;
        text-align: center;
    }

    .home-form-container .bg-left {
        background-position: center center ;
        background-size: cover;
        flex: 0 0 40%;
    }
    .home-form-container .bg-left.register {
        background-image: url("/assets/img/register.jpg");
    }
    .home-form-container .bg-left.connexion {
        background-image: url("/assets/img/connexion.jpg");
    }
    .register-form {
        flex: 0 0 60%;
        padding: 20px 60px;
        text-align: center;
        overflow-y: scroll;
    }
        .register-form label {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        .register-form label span {
            display: block;
        }
        .register-form label input {
            align-self: stretch;
        }
        .user-mode-choice {
            /*
            text-align: center;
            */
        }
        .form-sub-title {
            display: block;
            font-size: 20px;
            font-weight: 300;
            padding: 10px 0;
            text-align: center;
        }
        .user-mode-choice label {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
            .user-mode-choice label > * {
                flex-basis: 50%;
                text-align: left;
            }
            .user-mode-choice label input {
                align-self: flex-start;
                accent-color: #112233;
            }

        .register-form .button {
            align-self: center;
        }

        .redirection-sentence {
            padding: 80px 0;
        }
            .redirection-link,
            .redirection-link:hover,
            .redirection-link:visited
            {
                color: orangered;
            }
            .redirection-link:hover{
                font-weight: 300;
            }



/* Pages pour les utilisateurs connectés */

/*-----------------Header + menus --------------------------*/
header{
    /*background-color: #123;*/
    background-image: url("/assets/img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: center;
    position: relative;
}
    .menu-container {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
        .menu {
            background-color: rgba(255, 255, 255, 0.5);
            height: fit-content;
            display: flex;
            flex: 0 0 auto;
            flex-flow: row wrap;
            justify-content: center;
        }
            .menu a {
                color: #123;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 2px;
                padding: 10px 15px;
                text-transform: uppercase;
                text-shadow: 1px 1px 0 grey;
                transition: transform .4s;
            }

            .menu a:hover {
                background-color: #fff;

            }

            .menu a:active, .menu a:visited {
                color: #123;
            }

        .searchbar {
            align-items: center;
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
        }
            .searchbar input {
                background-color: #fefefe;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
            }
    .user-tag {
        background-color: #123;
        color: #fefefe;
        padding: 5px 10px;
        position: absolute;
    }
    /*----------Liste des annonces-------------*/

    .rentals-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        padding: 0 30px;
    }

    .rental-item,
    .booking {
        border: solid 1px grey;
        border-radius: 5px;
        display: flex;
        flex-flow: row nowrap;
    }
        .rental-item .rigth {
            padding: 10px;
        }

    .booking {
        margin-bottom: 20px;
        padding: 10px 5px;
    }
        .booking-title {
            flex-basis: 50%
        }
        .booking-date {
            flex-basis: 30%
        }
        .booking-details{
            flex-basis: 20%
        }
            .booking-details:hover {
                color: #2a5580;
                font-weight: 300;
            }
    .booking.bar {
        border: none;
        font-weight: 300;
    }


/*----------Détail d'une annonce-------------*/

.place-details-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 40px;
}
    .place-details-container .details-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 20px;
    }
        .place-details-container .details-title .h2 {
            flex-basis: 100%;
        }


    .details-title .price {
        font-weight: bold;
    }

    .place-details-info .h3 {
        padding: 10px 0;
    }
    .place-details-info .main-info,
    .place-details-info .equipements,
    .place-details-info .description {
        margin: 50px auto;
        padding-right: 100px;
    }

    .reservation-container {
        flex: 0 0 30%;
        position: relative;
    }
        .reservation-container form {
            border: 1px solid #123;
            border-radius: 5px;
            color: #123;
            position : sticky;
            top: 0;
            left: 0;
            padding: 20px 30px;
            text-align: center;
            /*transform: translate(-50%, -50%);*/
        }
            .reservation-container form > * {
                padding: 25px 0;
            }
            .reservation-container form .h3 {
                text-align: center;
                padding: 20px 0;
            }

            .reservation-container form input {

            }
            .reservation-container form button {
                margin-bottom: 20px;
                padding: 8px 10px;
            }


/*-----Formulaire pour ajouter un nouveau logement -----*/

.new-rental {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

    .new-rental .h3 {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .new-rental .form-group-container {
        border-bottom: solid 1px rgba(128, 128, 128, 0.77);
        margin: auto;
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }
    .form-group-container:last-of-type{
        border-bottom: none;

    }

    .new-rental .form-group {
        display: inline-block;
        padding: 20px;
        margin: auto;
        text-align: left;
    }
    .new-rental .form-group.block {
        display: block;
    }
    .new-rental .form-group.block input,
    .new-rental .form-group.block textarea{
        width: 100%;
    }

    .inline.h3 {
        display: inline;
    }

    .place-type-choices {
        display: flex;
        flex-direction: column;
    }
    .place-type-choices label {
        display: flex;
    }
    .place-type-choices label> * {
        display: inline-block;
    }
    .place-type-choices label>:first-child {
        flex-basis: 90%;
    }
    .place-type-choices label>:last-child {
        flex-basis: 10%;
    }

    /*Liste des equipements :*/
    .equipements .form-group label{
        padding-left: 8px;
    }
    .equipements .form-group input{
        accent-color: #123;
    }

    .new-rental .button {
        align-self: center;
    }


/*----- Profil -----*/

.profile-info {
    margin: auto;
    max-width: 300px;
    text-align: center;
}



/*.register-form ,
.modale-connection form,
.user-mode-choice {
    background-color: #919191;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
